<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Покупка билетов</title>

	<link rel="icon" type="image/x-icon" href="/img/icon.png">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body>

<header th:insert="~{fragments/header :: header}"></header>

<section layout:fragment="content">
	<p>This is filled by the content template.</p>
</section>

<footer th:insert="~{fragments/footer :: footer}"></footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<th:block layout:fragment="optional" />
</body>
</html>