<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
	<title>Авторизация</title>
	<link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
	<div layout:fragment="content" class="container-fluid ps-md-0">
		<div class="row g-0">
			<div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
			<div class="col-md-8 col-lg-6">
				<div class="login d-flex align-items-center py-5">
					<div class="container">
						<div class="row">
							<div class="col-md-9 col-lg-8 mx-auto">
								<h3 class="login-heading mb-4">Добро пожаловать!</h3>

								<p class="text-danger" th:if="${ex != null}" th:text="${ex}">Ошибка авторизации</p>

								<form action="/login" th:action="@{/login}" th:object="${loginRequest}" method="post">
									<div class="form-floating mb-3">
										<label for="floatingInput">Адрес электронной почты</label>
										<input type="email" th:field="*{email}" class="form-control" id="floatingInput" placeholder="name@example.com" required>
									</div>
									<div class="form-floating mb-5">
										<label for="floatingPassword">Пароль</label>
										<input type="password" th:field="*{password}" class="form-control" id="floatingPassword" placeholder="Пароль" required>
									</div>

									<div class="d-grid">
										<button class="btn btn-block btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Войти</button>
										<div class="text-center">
											<a class="small" href="/register">Регистрация</a>
										</div>
									</div>

								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>